<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.java2nb.novel.mapper.CrawlSingleTaskExMapper">

    <select id="getCrawlSingleTask" resultType="com.java2nb.novel.entity.CrawlSingleTask">


        select * from crawl_single_task where 1=1
        and task_status=2
        limit #{size}
    </select>



</mapper>